.TopMain {
  background-position: center;
  background-image: url("https://i.imgur.com/ZaVp2H9.jpg");
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.informative {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 8px 5px hsl(0, 0%, 75%);
  background-color: rgb(61, 59, 59, 0.5);
  height: 600px;
}

h1 {
  margin-top: 30px;
  color: white;
  font-family: "Henny Penny", cursive;
}

ul,
li {
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 22px;
  overflow-wrap: break-word;
  margin: 20px;
}
ul {
  color: aqua;
}
li {
  color: yellow;
}
