.text {
  font-size: 16px;
  font-family: sans-serif;
}
.Title-text {
  padding-left: 5px;
  height: 38px;
  width: 300px;
  font-size: 14px;
  color: #000000;
  border: 2px solid #0000001f;
  border-radius: 2px;
}
.Title-Comment {
  height: 100px;
  padding-left: 5px;
  text-align: left;
}
