.returnedContainerPosts {
  border: 2px solid black;
  margin: 20px;
  max-width: 38%;
}

.addPost {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-right: 75px;
  margin-top: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-family: sans-serif;
  float: right;
}
