@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash|Bree+Serif|Lemonada&display=swap');

.Main {
    background-position: center;
    background-image: url("https://download.hipwallpaper.com/desktop/1920/1080/24/20/XbpANu.jpg");
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

  .BlogPost{
    border: 3px solid rgba(0, 255, 221, 0.459);
    border-radius: 5px;
    max-width: 50%;
    max-height: 100%;
    margin: 25px;
    padding: 22px;
    background-color: rgba(231, 196, 156, 0.541);
  }
  .avatarCat {
  height: 100px;
  display: inline-block;
  background-color: #171717;
  border-radius: 10px;
  margin-top: 12px;
  margin-left: 20px 0px 30px 0px;
  border: solid 1px white;
}
  .Author{
    color: black;
    font-size: 200%;
    font-family: 'Bree Serif', serif;
  }
  .Title{
      color: black;
  }
  .flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: 130%;
  color: black;
  margin: 1%;
  font-family: 'Berkshire Swash', cursive;
  }
  .Content{
    color: black;
    font-size: 100%;
    font-family: 'Lemonada', cursive;
  }