.main-desc {
  /* background-color: black; */
  background-image: url("https://thumbs.dreamstime.com/t/seamless-pattern-cute-black-cats-vector-texture-wallpapers-fills-web-page-backgrounds-42581438.jpg");
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

