* {
  margin: 0;
  padding: 0;
}

nav {
  background: black;
  height: 90px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
}

.headerLinkHome {
  text-decoration: none;
  color: white;
  font-size: 30px;
}
