* {
  margin: 0;
  padding: 0;
}
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Henny+Penny|Love+Ya+Like+A+Sister&display=swap');

@FrederickaFont{
  font-family: 'Fredericka the Great', cursive;
}
@HennyFont{
  font-family: 'Henny Penny', cursive;
}
@LoveFont{
  font-family: 'Love Ya Like A Sister', cursive;
}

nav {
  background: black;
  height: 90px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-family: 'Henny Penny', cursive;
  text-decoration: none;
  color: white;
  font-size: 40px;
  cursor: pointer;
}

.headerLinkHome {
  text-decoration: none;
  color: white;
  font-size: 30px;
}
